<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": {{ site.owner.name | default: site.title | jsonify }}
  {%- if site.owner.title -%},
  "jobTitle": {{ site.owner.title | jsonify }}
  {%- endif -%}
  {%- if site.owner.affiliation -%},
  "affiliation": {
    "@type": "Organization",
    "name": {{ site.owner.affiliation | jsonify }}
  }
  {%- endif -%}
  ,
  "url": {{ "/" | absolute_url | jsonify }}
  {%- assign all_links = "" | split: "" -%}
  {%- if site.owner.orcid -%}
    {%- assign all_links = all_links | push: site.owner.orcid -%}
  {%- endif -%}
  {%- if site.social.links -%}
    {%- assign all_links = all_links | concat: site.social.links -%}
  {%- endif -%}
  {%- if all_links.size > 0 -%},
  "sameAs": [
    {%- for link in all_links -%}
      {{ link | jsonify }}
      {%- unless forloop.last -%}, {% endunless -%}
    {%- endfor -%}
  ]
  {%- endif -%}
}
</script>
