body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-sans);
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: var(--font-serif);
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

section > h1:first-child,
section > h2:first-child,
.card > h1:first-child,
.card > h2:first-child {
  margin-top: 0;
}

h1 + h2,
h2 + h3,
h3 + h4 {
  margin-top: var(--pad-m);
}

h1 + ul, h1 + ol,
h2 + ul, h2 + ol,
h3 + ul, h3 + ol,
h4 + ul, h4 + ol {
  margin-top: var(--pad-s);
}

p {
  margin-bottom: var(--pad-m);
  margin-top: var(--pad-m);
}

:is(p, div) + :is(h1, h2, h3, h4) {
  margin-top: calc(2 * var(--pad-l));
}

em, i {
  font-style: italic;
}

code, pre, kbd, samp {
  font-family: var(--font-mono);
  font-size: 0.95em;
}
